{% load custom_tags %}
<b>Complemento de Carta Porte Versión {{ carta_porte.Version }}</b>

<table border="1" style="margin-top:5px; font-size:9pt;border-style:solid;border-collapse:collapse;position:relative;padding:0; width:100%; border-color:black;" >
    <tr class="blue-tr">
        {% if carta_porte.IdCCP %}
            <td>IdCCP</td>
        {% endif %}
        <td>Material peligroso</td>
        <td>Total distancia recorrida</td>
        <td>Traspaso internacional</td>
        <td>Cve Transporte</td>
    </tr>
    <tr>
        {% if carta_porte.IdCCP %}
            <td>{{ carta_porte.IdCCP }}</td>
        {% endif %}
        <td>No</td>
        <td class="righttext">{{ carta_porte.TotalDistRec|cur }}</td>
        <td>{{ carta_porte.TranspInternac }}</td>
        <td>01</td>
    </tr>
</table>

<b>Ubicaciones </b>
<table border="1" style="margin-top:5px; font-size:9pt;border-style:solid;border-collapse:collapse;position:relative;padding:0; width:100%; border-color:black;" >
    <tr class="blue-tr">
        <th>Tipo</th>
        <td>Ciudad</td>
        <td>Número de informe</td>
        <td>Fecha Hora Salida llegada</td>
        <td>Domicilio</td>
    </tr>


    <tr>
        <td>Origen</td>
        <td>{{ instance.get_remitente_ciudad_flecosa }}</td>

        <td class="righttext">{{ instance.get_numero_informe_flecosa }}</td>
        <td>{{ instance.get_fecha_origen_flecosa|default:"" }}</td>
        <td>
            {{ instance.get_remitente_domicilio_flecosa }}
            {{ instance.get_remitente_info_ubicacion_flecosa }}
        </td>
    </tr>
                
    {% for u in instance.carta_porte.ubicaciones.all %}
        <!-- 
            <tr>
            <td>Destino</td>
            <td>{{ u.get_remitente_ciudad_flecosa }}</td>

            <td class="righttext">{{ instance.get_numero_informe_flecosa }}</td>
            <td>{{ u.get_fecha_hora_origen|default:"" }}</td>
            <td>
                {{ u.get_remitente_domicilio_flecosa }}
                {{ u.get_remitente_info_ubicacion_flecosa }}
            </td>
        </tr>
        -->
    {% endfor %}

    <tr>
        <td>Destino</td>
        <td>{{ instance.get_destinatario_ciudad_flecosa }}</td>

        <td class="righttext">{{ instance.get_numero_informe_flecosa }}</td>
        <td>{{ instance.get_fecha_destino_flecosa|default:"" }}</td>
        <td>
            {{ instance.get_destinatario_domicilio_flecosa }}
            {{ instance.get_destinatario_info_ubicacion_flecosa }}
        </td>
    </tr>

</table>

<b>Figuras transporte </b>
<table border="1" style="margin-top:5px; font-size:9pt;border-style:solid;border-collapse:collapse;position:relative;padding:0; width:100%; border-color:black;" >
    <tr class="blue-tr">
        <td>Tipo figura</td>
        <th>Nombre</th>
        <td>RFC</td>
        <td>Licencia</td>
        <!-- <td>Residencia fiscal</td>-->
        <td>Domicilio</td>
    </tr>
    {% for op in carta_porte.figura_transporte.tipos_figura %}
        <tr>
            <td>{{ op.TipoFigura }}</td>
            <td>{{ op.NombreFigura }}</td>
            <td>{{ op.RFCFigura }}</td>
            <td>{{ op.NumLicencia }}</td>
            <!-- <td>{{ op.ResidenciaFiscalOperador|default:"" }}</td>-->
            <td>
                
                {{ op.domicilio.Calle }} #{{ op.domicilio.NumeroExterior }}
                CP: {{ op.domicilio.CodigoPostal }}
                
                {{ op.domicilio.Localidad }}
                {{ op.domicilio_text.Localidad }}
                
                {{ op.domicilio.Municipio }}
                {{ op.domicilio_text.Municipio }},
                
                {{ op.domicilio_text.Estado }},
                {{ op.domicilio.Pais }}
            </td>
        </tr>
    {% endfor %}
</table>


<b>Vehículo </b>
<table border="1" style="margin-top:5px; font-size:9pt;border-style:solid;border-collapse:collapse;position:relative;padding:0; width:100%; border-color:black;" >
    <tr class="blue-tr">
        <th>Nombre aseguradora</th>
        <td>Num Permiso SCT</td>
        <td>Num Poliza Seguro</td>
        <td>Permiso SCT</td>
        {% if carta_porte.autotransporte_federal.identificacion_vehicular.PesoBrutoVehicular %}
        <td>Peso Bruto Vehicular<td>
        {% endif %}
        <td>Año</td>
        <td>Configuración Vehicular </td>
        <td>PLacaVM </td>
    </tr>
    <tr>
        <td>{{ carta_porte.autotransporte_federal.seguros.AseguraRespCivil }}</td>
        <td>{{ carta_porte.autotransporte_federal.NumPermisoSCT }}</td>
        <td>{{ carta_porte.autotransporte_federal.seguros.PolizaRespCivil|default:"" }}</td>
        <td>{{ carta_porte.autotransporte_federal.PermSCT|default:"" }}</td>
        {% if carta_porte.autotransporte_federal.identificacion_vehicular.PesoBrutoVehicular %}
        <td>{{ carta_porte.autotransporte_federal.identificacion_vehicular.PesoBrutoVehicular|default:"" }}</td>
        {% endif %}
        <td>{{ carta_porte.autotransporte_federal.identificacion_vehicular.AnioModeloVM|default:"" }}</td>
        <td>{{ carta_porte.autotransporte_federal.identificacion_vehicular.ConfigVehicular|default:"" }}</td>
        <td>{{ carta_porte.autotransporte_federal.identificacion_vehicular.PlacaVM|default:"" }}</td>                       
    </tr>
</table>

{% if carta_porte.autotransporte_federal.remolques and CLAVE != "flecosa" %}
    <b>Remolques </b>
    <table style="margin-top:5px; margin-bottom:15px; width:100%;" class="tabla_detalles">
        <tr class="blue-tr center">
            <td>Placa</td>
            <td>Sub Tipo</td>
        </tr>
        {% for re in carta_porte.autotransporte_federal.remolques %}

            <tr style="text-align:left; page-break-inside:avoid;">
                <td style="text-align:left; padding:5px 3px 0 3px !important;">{{ re.Placa }}</td>
                <td style="text-align:left; padding:5px 3px 0 3px !important;">{{ re.SubTipoRem }}</td>
            </tr>         
        {% endfor %}
    </table>
{% endif %}


<table style="margin-top:5px; margin-bottom:15px; width:100%;" class="tabla_detalles">
    <tr>
        <td colspan="1"><b>Mercancías</b></td>
    </tr>
    <tr class="blue-tr center">
        <td>Cantidad</td>
        <td>Guía</td>
        <td>Folio fiscal</td>
        <td>ClaveProdServ</td>
        <td>Descripción</td>
        <td>Peso</td>
        <td>Unidad de medida</td>
    </tr>
    {% for mer in carta_porte.mercancias %}

        {% with gi=mer.guias_identificacion.0 %}
        <tr style="text-align:left; page-break-inside:avoid;">   
            <td style="text-align:right; padding:5px 3px 0 3px !important;">1</td>
            <td style="text-align:left; padding:5px 3px 0 3px !important;">{{ gi.NumeroGuiaIdentificacion }}</td>
            <td style="text-align:left; padding:5px 3px 0 3px !important;">{{ gi.DescripGuiaIdentificacion }}</td>
            <td style=" padding:5px 3px 0 3px !important;">{{ mer.BienesTransp }}</td>
            <td style="text-align:left; padding:5px 3px 0 3px !important;">{{ mer.Descripcion }}</td>
            <td style="text-align:right; padding:5px 3px 0 3px !important;">{{ mer.PesoEnKg|curn:6 }}</td>
            <td style="text-align:right; padding:5px 3px 0 3px !important;">KGM</td>
        </tr>
        {% endwith %}
    {% endfor %}


    <tr>
        <td colspan="1"></td>
        <td colspan="1">
            <b>
                Total de guías
                {{ carta_porte.mercancias|length  }}
            </b>
        </td>
        <td colspan="2"></td>
        <td><b>Peso total </b></td>
        <td class="righttext">
            <b>
                {{ carta_porte.nodo_mercancias.PesoBrutoTotal|cur  }}
            </b>
        </td>
    </tr>
    
</table>