{% load custom_tags %}
<b>Complemento de Carta Porte Versión {{ carta_porte.Version }}</b>

<table border="1" style="margin-top:5px; font-size:9pt;border-style:solid;border-collapse:collapse;position:relative;padding:0; width:100%; border-color:black;" >
    <tr class="blue-tr">
        {% if carta_porte.IdCCP %}
            <td>IdCCP</td>
        {% endif %}
        <td>Total distancia recorrida</td>
        <td>Traspaso internacional</td>
        <td>Cve Transporte</td>
        
    </tr>
    <tr>
        {% if carta_porte.IdCCP %}
            <td>{{ carta_porte.IdCCP }}</td>
        {% endif %}
        <td class="righttext">{{ carta_porte.TotalDistRec|cur }}</td>
        <td>{{ carta_porte.TranspInternac }}</td>
        <td>{{ carta_porte.figura_transporte.CveTransporte|default:"01"}}</td>
        
    </tr>
</table>

<b>Ubicaciones </b>
<table border="1" style="margin-top:5px; font-size:9pt;border-style:solid;border-collapse:collapse;position:relative;padding:0; width:100%; border-color:black;" >
    <tr class="blue-tr">
        <th>Tipo</th>
        <td>Ciudad</td>
        {% if CLAVE != "flecosa" %}<td>Distancia recorrida</td>{% endif %}
        <td>Fecha Hora Salida llegada</td>
        <td>Domicilio</td>
    </tr>
    {% for u in carta_porte.ubicaciones %}

        <tr>
            <td>{{ u.TipoUbicacion }}</td>
            <td>
                

                {% if  u.domicilio_text %}    
                    
                    {{ u.domicilio.Localidad }}     
                    {{ u.domicilio_text.Localidad }} 

                    {{ u.domicilio.Municipo }}
                    {{ u.domicilio_text.Municipo }},

                    {{ u.domicilio_text.Estado }},
                
                {% else %}
                    {% if u.domicilio.Localidad or u.domicilio.Municipio %}
                        {{ u.domicilio.Localidad }}     
                        {{ u.domicilio.Municipo }},
                    {% endif %}

                    {{ u.domicilio_text.Estado }},

                {% endif %}

                {{ u.domicilio_text.Pais }}
                {{ u.domicilio.Pais }}
        </td>
            {% if CLAVE != "flecosa" %}<td class="righttext">{{ u.DistanciaRecorrida|default:"0" }}</td>{% endif %}
            <td>{{ u.FechaHoraSalidaLlegada|default:"" }}</td>
            <td>
                {{ u.domicilio.Calle }} #{{ u.domicilio.NumeroExterior }}
                CP: {{ u.domicilio.CodigoPostal }}
            </td>
        </tr>


    {% endfor %}
</table>

<b>Figuras transporte </b>
<table border="1" style="margin-top:5px; font-size:9pt;border-style:solid;border-collapse:collapse;position:relative;padding:0; width:100%; border-color:black;" >
    <tr class="blue-tr">
        <td>Tipo figura</td>
        <th>Nombre</th>
        <td>RFC</td>
        <td>Licencia</td>
        <!-- <td>Residencia fiscal</td>-->
        <td>Domicilio</td>
    </tr>
    {% for op in carta_porte.figura_transporte.tipos_figura %}
        <tr>
            <td>{{ op.TipoFigura }}</td>
            <td>{{ op.NombreFigura }}</td>
            <td>{{ op.RFCFigura }}</td>
            <td>{{ op.NumLicencia }}</td>
            <!-- <td>{{ op.ResidenciaFiscalOperador|default:"" }}</td>-->
            <td>
                
                {{ op.domicilio.Calle }} #{{ op.domicilio.NumeroExterior }}
                CP: {{ op.domicilio.CodigoPostal }}
                
                {{ op.domicilio.Localidad }}
                {{ op.domicilio_text.Localidad }}
                
                {{ op.domicilio.Municipio }}
                {{ op.domicilio_text.Municipio }},
                
                {{ op.domicilio_text.Estado }},
                {{ op.domicilio.Pais }}
            </td>
        </tr>
    {% endfor %}
</table>


<b>Vehículo </b>
<table border="1" style="margin-top:5px; font-size:9pt;border-style:solid;border-collapse:collapse;position:relative;padding:0; width:100%; border-color:black;" >
    <tr class="blue-tr">
        <th>Nombre aseguradora</th>
        <td>Num Permiso SCT</td>
        <td>Num Poliza Seguro</td>
        <td>Permiso SCT</td>
        {% if carta_porte.autotransporte_federal.identificacion_vehicular.PesoBrutoVehicular %}
        <td>Peso Bruto Vehicular<td>
        {% endif %}
        <td>Año</td>
        <td>Configuración Vehicular </td>
        <td>PLacaVM </td>
    </tr>
    <tr>
        <td>{{ carta_porte.autotransporte_federal.seguros.AseguraRespCivil }}</td>
        <td>{{ carta_porte.autotransporte_federal.NumPermisoSCT }}</td>
        <td>{{ carta_porte.autotransporte_federal.seguros.PolizaRespCivil|default:"" }}</td>
        <td>{{ carta_porte.autotransporte_federal.PermSCT|default:"" }}</td>
        {% if carta_porte.autotransporte_federal.identificacion_vehicular.PesoBrutoVehicular %}
        <td>{{ carta_porte.autotransporte_federal.identificacion_vehicular.PesoBrutoVehicular|default:"" }}</td>
        {% endif %}
        <td>{{ carta_porte.autotransporte_federal.identificacion_vehicular.AnioModeloVM|default:"" }}</td>
        <td>{{ carta_porte.autotransporte_federal.identificacion_vehicular.ConfigVehicular|default:"" }}</td>
        <td>{{ carta_porte.autotransporte_federal.identificacion_vehicular.PlacaVM|default:"" }}</td>                       
    </tr>
</table>

{% if carta_porte.autotransporte_federal.remolques and CLAVE != "flecosa" %}
    <b>Remolques </b>
    <table style="margin-top:5px; margin-bottom:15px; width:100%;" class="tabla_detalles">
        <tr class="blue-tr center">
            <td>Placa</td>
            <td>Sub Tipo</td>
        </tr>
        {% for re in carta_porte.autotransporte_federal.remolques %}

            <tr style="text-align:left; page-break-inside:avoid;">
                <td style="text-align:left; padding:5px 3px 0 3px !important;">{{ re.Placa }}</td>
                <td style="text-align:left; padding:5px 3px 0 3px !important;">{{ re.SubTipoRem }}</td>
            </tr>         
        {% endfor %}
    </table>
{% endif %}


<table style="margin-top:5px; margin-bottom:15px; width:100%;" class="tabla_detalles">
    <tr class="blue-tr center">
        <td style="width:40px">ClaveProdServ</td>
        <td>Cantidad</td>
        <td>Clave Unidad</td>
        <td>Descripción</td>
        <td>Peso en KG</td>
        <td>Material peligroso</td>
    </tr>
    {% for mer in carta_porte.mercancias %}

        <tr style="text-align:left; page-break-inside:avoid;">
            <td style=" padding:5px 3px 0 3px !important;">{{ mer.BienesTransp }}&nbsp;&nbsp;&nbsp;</td>
            <td style="text-align:right; padding:5px 3px 0 3px !important;">{{ mer.Cantidad|curn:6 }}</td>
            <td style="text-align:left; padding:5px 3px 0 3px !important;">{{ mer.ClaveUnidad }}</td>
            <td style="text-align:left; padding:5px 3px 0 3px !important;">{{ mer.Descripcion }}</td>
            <td style="text-align:right; padding:5px 3px 0 3px !important;">{{ mer.PesoEnKg|curn:6 }}</td>
            <td style="text-align:right; padding:5px 3px 0 3px !important;">{{ mer.MaterialPeligroso|sino }} {{ mer.CveMaterialPeligroso|default:"" }}</td>
        </tr>         
        {% for gi in mer.guias_identificacion %}
            <tr style="text-align:left; page-break-inside:avoid;">
                <td style="text-align:right; padding:5px 3px 0 3px !important;" colspan="4">
                    Número de guía: {{ gi.NumeroGuiaIdentificacion }}
                        {{ gi.DescripGuiaIdentificacion }}
                    {{ gi.PesoGuiaIdentificacion }} Kg.
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
    <tr>
        <td style="width:40px"></td>
        <td></td>
        <td></td>
        <tH colspan="2" class="righttext">PESO TOTAL {{ carta_porte.peso_total|cur }}KG</th>
        <td></td>
    </tr>
</table>