{% extends 'layout.html' %}
{% load static thumbnail %}

{% block title %}{{ general.razon_social }}{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'cfdi/codemirror/lib/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'cfdi/codemirror/theme/monokai.css' %}">
<script language="Javascript" type="text/javascript" src="{% static 'cfdi/codemirror/lib/codemirror.js' %}"></script>
<script language="Javascript" type="text/javascript" src="{% static 'cfdi/codemirror/mode/xml/xml.js' %}"></script>
<style>
    {% if error %}
        .error{
            background-color: #D51414;
            color:#f9f9f9;
            font-size: 19px;
        }
    {% endif %}
</style>

<style>
.CodeMirror{
    font-size: 1.05em;
    position: relative;
    height: auto;
}
.top-filters{
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 0;
}

</style>
{% endblock %}



{% block contenido %}
    <div class="row">
        <div class="col-md-7">

            <form method="post" action="." name="myForm">
                
                <textarea name="xml_text" id="id_query" class="query-textarea">{{ xml_string }}</textarea>
                <div></div>

                <div class="text-right mt10 mb10">
                    <input type="submit" value="Ejecutar" class="btn btn-primary">
                </div>
            </form>
        </div>
        <div class="col-md-5">
            <div style="max-height:85vh;overflow:auto"> 
                {% if error %}
                <div class="error">{{ error }} </div>
                {% endif %}

                <div class="text-info text-center" style="padding: 10px 0">{{ objects|length }} objetos</div>

                <table class="table table-condensed table-sm">
                {% for object in objects %}
                    <tr>
                        <td>{{ object }}</td>
                    </tr>
                {% endfor%}
                </table>
            </div>
        </div>
    </div>

<script>
var h = window.outerHeight;

window.editor = CodeMirror.fromTextArea(document.getElementById("id_query"), {
    mode: {name: "xml", singleLineStringErrors: false},
    lineNumbers: true,
    indentUnit: 4,
    matchBrackets: true,
    theme: 'monokai'
});

window.editor.setSize(null, h - 300);
</script>
{% endblock %}
